<div id = "userDash" class="dashContainer">
    <div class="textContainer">
        <!-- This will be for the logged in user's personal dashboard -->
        <p>Welcome,</p>
        <h1> {{user.username}} </h1>
    </div>
    {{!-- <p>{{books.book_title}}</p> --}}
    <div class="bookContainer">
        {{#each user.books as |book|}}
        <p>{{book.book_title}}</p>
        <div class="bookLinks">
            <!-- Book image redirect to add post if none exists, or view post if there is one for this book -->
            {{!-- <a href="{{book.post_id}}"> --}}
                <img src="{{book.book_image}}" alt="{{book.book_title}}"/>
            </a>
            <br>
            <!-- Button will go in front of text - lets books add a review -->
            <a href="books/{{book.user_id}}">
            {{book.book_title}}
            </a>
           
        </div>    
        {{/each}}
        {{#if users.books.length}}
        <p>No items found.</p>


    </div>
</div>
