<div class="dashBox">
    <div class="textBox">
        <p>Welcome,</p>
        <h1> {{book.user.username}} </h1>
    </div>
    <div class="bookBox">
        {{#each book as |book|}}
        <div class="bookLinks">
            <a href="{{book.post_id}}">
                <img src="{{book.book_image}}" alt="{{book.book_title}}"/>
            </a>
            <br>
            <a href="book/{{book.id}}">
            <h2>{{book.book_title}}</h2>
            </a>
        </div>    
        {{/each}}
    </div>
</div>