<div class="postInfo">
  <label for="postTitle">Title</label>
  <input type="text" name="postTitle" id="postTitle">
</div>
<div class="postBody">
  <label for="postBody">body</label>
  <input type="text" name="postBody" id="postBody" >

{{!-- <input  type="submit" value="Submit">

        <div class="section-title">
          <h2>Posts</h2>
          <p>View posts from our users about their favorite books below!</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-book"></i></div>
              <h4><a href="">The Sorcerer's Stone</a></h4>
              <p>Harry finds out he is a wizard with some insane powers</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-book"></i></div>
              <h4><a href="">Chamber of Secrets</a></h4>
              <p>The best movie and book easily. Don't @ me. Everybody know's I'm right.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-book"></i></div>
              <h4><a href="">The Prisoner of Azkaban</a></h4>
              <p>Sirius Black is the best. People need to trust Harry more.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-book"></i></div>
              <h4><a href="">Goblet of Fire</a></h4>
              <p>This is hands down the most Meh book in the entire series.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-book"></i></div>
              <h4>The Order of the Phoenix</h4>
              <p>Also very Meh. Do better J.K. Rowling. Also I hate Ron's pet rat.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="fas fa-book"></i></div>
              <h4><a href="">The Half Blood Prince</a></h4>
              <p>Hands down the best book. Go Snape! He is on par with Dumbledore and Hagrid for best character in the series.</p>
            </div>
          </div>

        </div>

      </div>
    </section>

<!-- Handlebars layout? -->

<div class="postContainer">
  <div class="textContainer">
    <div class="bookInfo">
      <h1> {{post.book.book_title}} </h1>
      <h2> {{post.book.book_author}} </h2>
    </div>
    <div class="userReview">
      <h3> {{post.rating}} </h3>
      <h4> {{post.post_title}} </h4>
      <p> {{post.body_review}} </p>
      <p>
        <!-- Attempting to add a link to this user's dashboard for others to view -->
        <a href="/user/{{post.user_id}}"> 
        {{post.user.username}} 
        </a>
      </p>
    </div>
  </div>
  <div class="imgContainer">
    <img src="{{post.book.book_image}}" alt="{{post.book.book_title}}"/>
  </div>
</div>   --}}
