<div class="postContainer">
  <div class="textContainer">
    <div class="bookInfo">
      <h1> {{post.book.book_title}} </h1>
      <h2> {{post.book.book_author}} </h2>
    </div>
    <div class="userReview">
      <h3> {{post.rating}} </h3>
      <h4> {{post.post_title}} </h4>
      <p> {{post.body_review}} </p>
      <p>
        <!-- Attempting to add a link to this user's dashboard for others to view -->
        <a href="/user/{{post.user_id}}"> 
        {{post.user.username}} 
        </a>
      </p>
    </div>
  </div>
  <div class="imgContainer">
    <img src="{{post.book.book_image}}" alt="{{post.book.book_title}}"/>
  </div>
</div>  